@charset "utf-8";

@use "../../foundation" as f;

body {
    position: relative;
    // 元々のマウスカーソルを消す
    cursor: none;
    // 端にカーソルを持って行ったときにディレイの部分だけはみ出てスクロールバーが表示されてしまうのを抑止
    overflow: hidden;
}

.c-mouseStalker {
    pointer-events: none; // イベント反応させなくする
    width: 100%;
    height: 100%;
    padding-top: 100%;
    position: absolute;
    top: 0;
    left: 0;
    &_cursor,
    &_delay {
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none; // イベント反応させなくする
    }
    &_cursor {
        width: 0.5rem;
        height: 0.5rem;
        background-color: f.$color;
        z-index: 10001;
    }
    &_delay {
        $delayRadius: 40px;
//        width: $delayRadius;
//        height: $delayRadius;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: f.$main-color;
        z-index: 10000;
        transition: clip-path ease 0.3s;
        opacity: 0.4;
        // at 以降は円の中心の定義
        clip-path: ellipse($delayRadius / 2 $delayRadius / 2 at 50% 50%);
        &.active {
            $activeTimes: 2;
 //           transform: scale($activeTimes);
//            background-color: f.$main-color_l;
            background: {
                image: url("../img/vampire_stoker.jpg");
                attachment: fixed;
                size: cover;
            }
            opacity: 1;
            // at 以降は円の中心の定義
            clip-path: ellipse($delayRadius * $activeTimes / 2 $delayRadius * $activeTimes / 2 at 50% 50%);
        }
    }
}
